/*
https://www.mozilla.org/en-US/styleguide/products/firefox-os/color/
https://technorulerin.files.wordpress.com/2015/01/firefox-os-in-washing-machine.png
https://www.flickr.com/photos/cliche/4097967617 
*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: black;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    -moz-user-select: none;
         user-select: none;
}
.icon {
    fill: white;
    border-radius: 50%;
    background-color: #00AACC;
    padding: 20px;
    width: 20vw;
    height: 20vw;
}
.icon.white {
    fill: lightgray;
    background-color: white;
}
.icon.black {
    fill: #222;
    background-color: black;
}
.icon.colored {
    fill: rgba(255, 255, 255, 0.7);
    background-image: url(../img/color_wheel.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.icon:active {
    opacity: 0.8;
}
.icon-1-1 {
    position: absolute;
    left: 10vw;
    top: 20vh;
}
.icon-2-1 {
    position: absolute;
    left: 15vw;
    top: 25vh;
}
.icon-1-2 {
    position: absolute;
    left: 60vw;
    top: 30vh;
}
.icon-2-2 {
    position: absolute;
    left: 60vw;
    top: 35vh;
}
.icon-1-3 {
    position: absolute;
    left: 20vw;
    top: 50vh;
}
.icon-2-3 {
    position: absolute;
    left: 35vw;
    top: 65vh;
}
.icon-1-4 {
    position: absolute;
    left: 60vw;
    top: 70vh;
}
#icon-stop {
    position: absolute;
    left: 40vw;
    top: 82vh;
    fill: white;
    border-radius: 20vw;
    background-color: #FF4E00;
    padding: 16px;
    width: 10vw;
    height: 10vw;
}
#icon-settings {
    position: absolute;
    left: 10px;
    bottom: 10px;
    fill: white;
    width: 10vw;
    height: 10vw;
}
h1 {
    font-family: Arial;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 5vw;
}
#duration {
    position: absolute;
    left: 10vw;
    top: 24vh;
    border-radius: 40vw;
    background-color: #00AACC;
    width: 80vw;
    height: 80vw;
}
#duration svg {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    margin: -4.5vw;
}
#duration-circle {
    stroke-dasharray: 440;
    stroke-dashoffset: 160;
    stroke: white;
    fill: none;
    stroke-width: 2vw;
}
#duration-text {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 80vw;
    height: 80vw;
    line-height: 80vw;
    font-family: Arial;
    color: white;
    font-size: 6vw;
}
#duration-hours-left,
#duration-minutes-left {
    font-size: 20vw;
}
#duration-left-label {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 80vw;
    height: 80vw;
    line-height: 80vw;
    font-family: Arial;
    color: white;
    font-size: 6vw;
    margin-top: 20vw;
}