/*
https://www.mozilla.org/en-US/styleguide/products/firefox-os/color/
https://technorulerin.files.wordpress.com/2015/01/firefox-os-in-washing-machine.png
https://www.flickr.com/photos/cliche/4097967617 
*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: black;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.icon {
    fill: white;
    border-radius: 50%;
    background-color: #00AACC;
    padding: 20px;
    width: 20vw;
    height: 20vw;
}
.icon.white {
    fill: lightgray;
    background-color: white;
}
.icon.black {
    fill: #222;
    background-color: black;
}
.icon.colored {
    fill: rgba(255, 255, 255, 0.7);
    background-image: url(../img/color_wheel.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.icon:hover {
    opacity: 0.8;
}
.icon-1 {
    position: absolute;
    left: 10vw;
    top: 20vh;
}
.icon-2 {
    position: absolute;
    left: 60vw;
    top: 30vh;
}
.icon-3 {
    position: absolute;
    left: 20vw;
    top: 50vh;
}
.icon-4 {
    position: absolute;
    left: 60vw;
    top: 70vh;
}
#icon-settings {
    position: absolute;
    left: 10px;
    bottom: 10px;
    fill: white;
    width: 10vw;
    height: 10vw;
}
h1 {
    font-family: Arial;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 5vw;
}